section{
    text-align: center;
    position: absolute;
    top:650px;
    bottom: 300px;
    left: 250px;
   
    
}
#im {
    text-align: center;
    position: absolute;
    top:650px;
    bottom: 100px;
    left: 520px;
}
#i{
    text-align: center;
    position: absolute;
    top:650px;
    bottom: 100px;
    left: 800px;
    
}
