
h1 {
    background-color: #93B5C9;
    padding: 70px;
    margin: 0px;
}
body{
    margin: 0px;
}
nav h1 {
    background-color: #AB2849;
    padding: 100px;

}
footer h1 {
    background-color: #AB2849;
    padding: 70px;
    margin: 20px 0 20px 0;
}
.h{
    display: flex;
    margin-right: 45px;
    margin-left: 45px;
    h1{
        padding: 80px 290px 80px 285px;
        margin: 5px;
    }
}
div section h1{
    background-color: #AB2849;
    padding: 80px;
    margin: 15px 50px 15px 50px;
    
}
